.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creation-add {
    margin: 0.5rem;
}

.creation-save {
    margin: 0.5rem;
}

.creation-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
