/* Stack teams vertically */
.display-teams {
    display: block;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

/* Each team card
#team-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

/* Members within a team arranged horizontally */
.member {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

.team-members {
    display: block;
    flex-direction: row;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;    
}